<div class="hero-unit">

<h1>PAHM-250 MOCK TEST</h1>
<p>Hi this is a mockup test for pahm-250 certificate course. This is a multiple choice based exam on all the business related topics of the health industry. the test will contain a set of 75 questions. The exam will be a duration of 75 min.</p>

<h3>Best of luck........ press below to take test</h3>
<br/>
<br/>
<a>
<%= link_to '>> BEGIN TEST NOW >>', testpaper_exams_path, :class=> "btn btn-primary btn-large" %>
</a>

</div>
